body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* navbar.ejs */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: rgb(212, 50, 50);
    font-size: 2rem;
}

.nav-link {
   color: #1b1b1b !important;
}


/* footer.ejs */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links, .f-info-socials, .f-info-brand {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    background-color: rgb(228, 228, 228);
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* card-index.ejs */
.card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 600;
}

.card-link {
    text-decoration: none;
}

/* card effect */
.card-img-top:hover {
    opacity: 0.85;
}

/* new.ejs & edit.ejs */
.btn {
    border: none !important;
    color: white !important;
    background-color: rgb(235, 69, 69) !important;
}

/* show.ejs */
.show-img{
    height: 30vh;
}

.btns {
    display: flex;
}

.delete-btn {
    background-color: black !important;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}